@page "/testdata"
@using BlazorEF.Application.Interfaces
@using BlazorEF.Application.ViewModels.Product
@inject IProductCategoryService productService


<h1>List Seeded Data</h1>

@if (productCategories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var loaiHang in productCategories)
            {
                <tr>
                    <td>@loaiHang.Name</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {

    private List<ProductCategoryViewModel> productCategories;
    protected override void OnInitialized()
    {
        productCategories = productService.GetAll();
        base.OnInitialized();
    }

}

