@page "/testdata"
@using BlazorEF.Application.Interfaces;

@inject IProductCategoryService _productService;

<h1>List Seeded Data</h1>

@if (productCategories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var loaiHang in productCategories)
            {
                <tr>
                    <td>@loaiHang.Name</td>
                </tr>
            }
        </tbody>
    </table>
}


<div>
    <h3>Add Product Categories</h3>
    <form>
        <div class="form-group">
            <label for="nameInput">Name</label>
            <input value="@pcname" @onchange="@(e=>pcname= e.Value.ToString())" name="pcname" type="text" class="form-control" id="nameInput" placeholder="Enter Product Categories Name">
        </div>
        <button type="button" class="btn btn-primary" @onclick="testBinding" >Add</button>
    </form>
</div>

<p>@pcname</p>

@code {
    
}

