@page "/counter"
@using BlazorEF.Application.Implementation
@using BlazorEF.Application.Interfaces
@using BlazorEF.Application.ViewModels.Product
@using BlazorEF.Data.Entities
@inject IProductCategoryService productService


<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<button class="btn btn-primary" @onclick="getLoaiHang">get loai hang</button>

@if (productCategories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <li>
        @foreach (var loaiHang in productCategories)
        {
            <ul>@loaiHang.Name</ul>
        }

    </li>
}


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private ProductCategoryViewModel[] productCategories;
    private void getLoaiHang()
    {
        productCategories = productService.GetAll().ToArray();
    }

}
